<div class="row">
  <div class="col-xs-1 col-sm-4"></div>
  <div class="col-xs-10 col-sm-4">
    <form method="post" action="/chat">
      <br>
      <br>
      <h2 style="color: hsl(1,0%,80%)">Chat</h2>
      <br>
      <label style="color: hsl(1,0%,80%)">Choose an alias</label>
      <br>
      <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input id="alias" type="text" class="alias form-control" name="alias" placeholder="Your alias">
      </div>
      <br>
      <input class="form-control btn-primary" value="Choose" type="submit">
      <br>
    </form>
      <a class="form-control btn" href="/">Cancel</a>
  </div>
</div>