<!DOCTYPE html>
<html lang="en">
  <head>
    <title>three.js webgl - transform controls</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <style>
            body {
                margin: 0px;
                background-color: #000000;
                color: #fff;
                font-family:Monospace;
                text-align: center;
                font-size: 15px;
                line-height: 30px;
                overflow: hidden;
            }
            #info {
                position: absolute;
                top: 0px; width: 100%;
                padding: 15px;
                z-index:100;
            }
        </style>
        
    <link rel="stylesheet" type=text/css href="public/stylesheets/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="public/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type=text/css href="/public/stylesheets/bazMain.css">
    <link rel="stylesheet" type=text/css href="/public/stylesheets/admin-template.css">
    
    <link rel=stylesheet type=text/css href="public/stylesheets/schedule-day.css">
    <script src="/public/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/public/javascripts/three.min.js"></script>
    <script src="/public/javascripts/TransformControls.js"></script>
    <script src="/public/javascripts/bootstrap.min.js"></script>
<!--    <script src="/public/javascripts/react.min.js"></script>
    <script src="/public/javascripts/react-dom.min.js"></script> -->
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="/public/javascripts/main.js"></script>
  </head>

