<!-- 
*************This file is planned for deletion *****************


<div class="row">
  <div class="col-xs-1 col-sm-4"></div>
  <div class="col-xs-10 col-sm-4">
  <br>
  <br>
  <ul class="convo list-group"></ul>
    <form method="post" action="/message">
      <br>
      <br>
      <h4 style="color: hsl(1,0%,80%)">Chatting with</h4> -->
<!--       <br>
      <label style="color: hsl(1,0%,80%)">Message</label>
      <br>
      <div class="input-group">
          <textarea rows="5" cols="50" id="chat" type="text" class="chat-box form-control" name="chat" placeholder="Type your message"></textarea>
      </div>
      <br>
      <input class="form-control btn-primary" value="Send" type="submit">
      <br>
    </form>
      <a class="form-control btn" href="/">Cancel</a>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script> -->


