<br>
<br>

<ul class="nav nav-pills"><li class="active"><a href="/schedule">Appointments</a></li></ul
<br>
<ul class="nav nav-pills"><li class="active"><a href="/payments">Payments</a></li></ul>
<br>
<ul class="nav nav-pills"><li class="active"><a href="/char">Chart</a></li></ul>
<br>
<ul class="nav nav-pills"><li class="active"><a href="/documents">Documents</a></li></ul>
<br>
<ul class="nav nav-pills"><li class="active"><a href="/images">Images</a></li></ul>
<br>
<ul class="nav nav-pills"><li class="active"><a href="/adduser">Add User</a></li></ul>
