<script src="/public/javascripts/schedule.js"></script>
<link rel=stylesheet type=text/css href="public/stylesheets/schedule.css">
<div class="shiftcontain">
    <div class="shiftback"><</div>
    <div class="month"></div>
    <div class="year"></div>
    <div class="shiftforward">></div>
</div>
<div class="calcontain">
    <div class="calbox lab leftbox"><div class="lab2">S</div></div>
    <div class="dayofweeklabel calbox lab"><div class="lab2">M</div></div>
    <div class="dayofweeklabel calbox lab"><div class="lab2">T</div></div>
    <div class="dayofweeklabel calbox lab"><div class="lab2">W</div></div>
    <div class="dayofweeklabel calbox lab"><div class="lab2">T</div></div>
    <div class="dayofweeklabel calbox lab"><div class="lab2">F</div></div>
    <div class="dayofweeklabel calbox lab"><div class="lab2">S</div></div>
    <div class="calbox leftbox box1 showDay"></div>
    <div class="calbox box2 showDay">2</div>
    <div class="calbox box3 showDay">2</div>
    <div class="calbox box4 showDay">2</div>
    <div class="calbox box5 showDay">5</div>
    <div class="calbox box6 showDay">6</div>
    <div class="calbox box7 showDay">7</div>
    <div class="calbox leftbox box8 showDay">1</div>
    <div class="calbox box9 showDay">2</div>
    <div class="calbox box10 showDay">3</div>
    <div class="calbox box11 showDay">4</div>
    <div class="calbox box12 showDay">5</div>
    <div class="calbox box13 showDay">6</div>
    <div class="calbox box14 showDay">7</div>
    <div class="calbox leftbox box15 showDay">1</div>
    <div class="calbox box16 showDay">2</div>
    <div class="calbox box17 showDay">3</div>
    <div class="calbox box18 showDay">4</div>
    <div class="calbox box19 showDay">5</div>
    <div class="calbox box20 showDay">6</div>
    <div class="calbox box21 showDay">7</div>
    <div class="calbox leftbox box22 showDay">1</div>
    <div class="calbox box23 showDay">2</div>
    <div class="calbox box24 showDay">3</div>
    <div class="calbox box25 showDay">4</div>
    <div class="calbox box26 showDay">5</div>
    <div class="calbox box27 showDay">6</div>
    <div class="calbox box28 showDay">7</div>
    <div class="calbox leftbox box29 showDay">1</div>
    <div class="calbox box30 showDay">2</div>
    <div class="calbox box31 showDay">3</div>
    <div class="calbox box32 showDay">4</div>
    <div class="calbox box33 showDay">5</div>
    <div class="calbox box34 showDay">6</div>
    <div class="calbox box35 showDay">7</div>
</div>
</div>
<div id="myDiv"></div>
<!-- <script type="text/jsx">
    ReactDOM.render(
        <h1>Hello, world therggg!</h1>,
        document.getElementById('myDiv')
    );
</script> -->
<script>


</script>
