<div class="row">
    <div class="col-xs-1 col-sm-4"></div>
    <div class="col-xs-10 col-sm-4"><br>
        <form method="post" action="/signup">
        <br>
            <h2 style="color: hsl(1,0%,80%)">Signup</h2>
            <br>
            <label style="color: hsl(1,0%,80%)">Your email</label>
            <br>
              <input id="email" type="text" class="form-control" name="email" placeholder="Email">
            <br>
            <br>
            <label style="color: hsl(1,0%,80%)">Create password</label>
            <br>
              <input id="password" type="password" class="form-control" name="password" placeholder="Password">
            <br>
            <label style="color: hsl(1,0%,80%)">Confirm password</label>
            <br>
              <input id="password" type="password" class="form-control" name="password2" placeholder="Confirm password">
            <br>
            <br>
            <input class="form-control btn-primary" value="Signup" type="submit">
            <br>
            <br>
        </form>
        <a class="form-control btn" href="/">Cancel</a>
    </div>
</div>