

<div class="shiftcontain">
    <div class="shiftback"><</div>
    <div class="month"></div>
    <div class="day"></div>
    <div class="year"></div>
    <div class="shiftforward">></div>
</div>
<div class="chairs"></div>
<div class="calcontain">
<!-- Top Row Chair labels ********************  -->
    <div class="daybox lab leftbox"><div class="lab2"></div></div>
    <div class="daybox lab"><div class="lab2">Ch-1</div></div>
    <div class="daybox lab"><div class="lab2">Ch-2</div></div>
    <div class="daybox lab"><div class="lab2">Ch-3</div></div>
    <div class="daybox lab"><div class="lab2">Ch-4</div></div>
    <div class="daybox lab"><div class="lab2">Ch-5</div></div>
    <div class="daybox lab"><div class="lab2">Ch-6</div></div>
    <div class="daybox lab"><div class="lab2">Ch-7</div></div>
<!-- First Row of Time slots ********************  -->
    <!-- div class="daybox timeleft leftbox">8:00</div-->
   
</div>
</div>
<div id="myDiv"></div>
<!-- <script type="text/jsx">
    ReactDOM.render(
        <h1>Hello, world therggg!</h1>,
        document.getElementById('myDiv')
    );
</script> -->
<script>


</script>
