<!-- <script src="/public/javascripts/template-edit.js"></script>
<link rel=stylesheet type=text/css href="public/stylesheets/template-edit.css">
<br>
<div class="main-contain">
    <div class="left-side-contain">
        <label>Location</label>
        <select>
          <option value="volvo">Norcross</option>
          <option value="saab">Johns Creek</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <br>
        <br>
        <label>Templates:</label>
        <div class="template-list">
            <div class="template-item">Monday afternoon</div>
            <div class="template-item">Friday mornings</div>
            <br>
            <div class="template-item">Every other Wed</div>
            <br>
            <div class="template-item">Monday afternoon</div>
            <br>
            <div class="template-item">Friday mornings</div>
            <br>
            <div class="template-item">Every other Wed</div>
        </div>
        <br>
        <div class="button-contain">
            <button class="template-button" type="button" action="/template-add">New Template</button>
            <button class="template-button" type="button" action="/template-edit">Edit Template</button>
            <button class="template-button" type="button" action="/template-edit">Apply Template</button>
            <button class="template-button" type="button" action="/template-edit">UnApply Template</button>
        </div>
      </div> -->
    <div class="calcontain">
        <div class="shiftcontain">
            <button type="button" class="shiftback">Back</button>
            <div class="month"></div>
            <div class="year"></div>
            <button type="button" class="shiftforward">Next</button>
        </div>
        <br>
        <div class="cal-rowFirst">
            <div class="dayofweeklabel calbox lab">S</div>
            <div class="dayofweeklabel calbox lab">M</div>
            <div class="dayofweeklabel calbox lab">T</div>
            <div class="dayofweeklabel calbox lab">W</div>
            <div class="dayofweeklabel calbox lab">T</div>
            <div class="dayofweeklabel calbox lab">F</div>
            <div class="dayofweeklabel calbox lab">S</div>
        </div>
        <div class="cal-row">
            <div class="calbox box1 showDay" id="div1" ></div>
            <div class="calbox box2 showDay">2</div>
            <div class="calbox box3 showDay">2</div>
            <div class="calbox box4 showDay">2</div>
            <div class="calbox box5 showDay">5</div>
            <div class="calbox box6 showDay">6</div>
            <div class="calbox box7 showDay">7</div>
        </div>
        <div class="cal-row">
            <div class="calbox leftbox box8 showDay">1</div>
            <div class="calbox box9 showDay">2</div>
            <div class="calbox box10 showDay">3</div>
            <div class="calbox box11 showDay">4</div>
            <div class="calbox box12 showDay">5</div>
            <div class="calbox box13 showDay">6</div>
            <div class="calbox box14 showDay">7</div>
        </div>
            <div class="cal-row">
            <div class="calbox leftbox box15 showDay">1</div>
            <div class="calbox box16 showDay">2</div>
            <div class="calbox box17 showDay">3</div>
            <div class="calbox box18 showDay">4</div>
            <div class="calbox box19 showDay">5</div>
            <div class="calbox box20 showDay">6</div>
            <div class="calbox box21 showDay">7</div>
        </div>
        <div class="cal-row">
            <div class="calbox leftbox box22 showDay">1</div>
            <div class="calbox box23 showDay">2</div>
            <div class="calbox box24 showDay">3</div>
            <div class="calbox box25 showDay">4</div>
            <div class="calbox box26 showDay">5</div>
            <div class="calbox box27 showDay">6</div>
            <div class="calbox box28 showDay">7</div>
        </div>
        <div class="cal-row">
            <div class="calbox leftbox box29 showDay">1</div>
            <div class="calbox box30 showDay">2</div>
            <div class="calbox box31 showDay">3</div>
            <div class="calbox box32 showDay">4</div>
            <div class="calbox box33 showDay">5</div>
            <div class="calbox box34 showDay">6</div>
            <div class="calbox box35 showDay">7</div>
        </div>
    </div>

